:root {
    --color-text: #ecfdf5;
    --color-lightest: #CBF7ED;
    --color-light: #8EA8C3;
    --color-medium: #406E8E;
    --color-dark: #23395B;
    --color-darkest: #161925;
}

.formulario{
    max-width: 450px;
    min-width: 270px;
}

.icon {
    width: var(--lwc-squareIconLargeBoundaryAlt, 80px);
}

.form-title-h2 {
    color: var(--color-text)
}

.nav-link.active{
    text-decoration: underline;
    text-underline-offset: 7px;
    color: var(--color-medium);
}

.submit-button {
    background-color: var(--color-medium);
    color: var(--color-text);
    font-size: var(--lwc-fontSize5, 1.2rem);
}

.submit-button:hover{
    background-color: var(--color-dark);
    color: var(--color-text)
}

.forgot-password {
    color: var(--color-light);
    font-size: 0.9rem;
    font-style: italic;
}