:root {
    --color-text: #ecfdf5;
    --color-lightest: #CBF7ED;
    --color-light: #8EA8C3;
    --color-medium: #406E8E;
    --color-dark: #23395B;
    --color-darkest: #161925;
}


.nav-link{
    color: var(--color-text);

}
.nav-link:hover{
    color:var(--color-light)
}

.login {
    color: var(--color-text);
    border-color: var(--color-text);
}

.login:hover {
    background-color: var(--color-medium);
    color: var(--color-text);
    border-color: var(--color-medium);
}
